@model AppCelulares.Entidades.Modelo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Modelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CelularId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CelularId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Año_Lanzamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Año_Lanzamiento)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index")'">Back to List</button>
</div>
